[2017-02-24 18:47] fsavje opened #1 "Add command to toggle rendering"

[2017-02-24 18:47] fsavje opened #2 "Be smarter finding Slack executable"

[2017-02-24 18:48] fsavje opened #3 "Make proper version for Linux and Windows"

[2017-03-02 11:38] Caster opened #4 "Web version (GreaseMonkey/TamperMonkey script)"
After searching for a bit for ways to get MathJax rendering on Slack, I found your project. Love it!

I created a userscript out of your code, which was in fact quite easy to do. You can find it [as a Gist](https://gist.github.com/Caster/fcd6b0444b06ea3f5fe565e295a80611). Now I can enjoy nicely typeset math in the web client of Slack!

Thought you might want to incorporate this, maybe.

[2017-03-03 06:26] fsavje commented on #4
I'm glad you found it useful, @Caster. And thank you for porting the script to GreaseMonkey. I'm pretty swamped atm, but will add it to the repo eventually. Again, thanks for contributing!

[2017-03-05 09:49] crstnbr commented on #3
When I add

[code]

below `startup();` call in index.js it works just fine under Windows. Only the bash script wouldn't work.

Note, that I had to change the bash escapes of the grave accent.

[2017-03-05 09:59] fsavje commented on #3
Thank you @crstnbr. I suspect that would be the case. Excellent that you could confirm that for me. I'll try to draft up a batch script as soon as possible. Thanks again!

[2017-03-05 10:04] crstnbr commented on #3
Youre welcome. Thanks for coming up with this in the first place.

Btw, the index.js file was located here: C:\Users\<USERNAME>\AppData\Local\slack\app-2.5.1\resources\app.asar.unpacked\src\static\index.js

[2017-03-05 23:49] #2 closed

[2017-03-06 07:24] fsavje commented on #3
Hey @crstnbr I've added a windows version. If you want, it would be great if you could try it out. Just follow [the instructions here](https://github.com/fsavje/math-with-slack#how-do-i-install-it) to install it.

I've added some safety checks so that it doesn't overwrites the wrong file. If you've edited `index.js` by hand, you'll probably need to restore it to the original version for the script

[2017-03-06 20:00] crstnbr commented on #3
Worked for me!

[2017-03-06 20:03] fsavje commented on #3
Excellent, thanks!

[2017-03-06 20:03] #3 closed

[2017-03-14 17:20] awstlaur opened #5 "\binom, \genfrac fail to render"
For examples:
[code]

[code]

Both of these render with the command (`\binom`, `\genfrac`) in red. I can provide screenshots if requested. It may be worth noting that both of these commands are defined in the amsmath package. However, [MathJax itself](http://docs.mathjax.org/en/latest/tex.html#supported-latex-commands) appears to support the package.

My environment:

System:
[code]

Slack applica

[2017-03-14 17:48] fsavje commented on #5
Thank you for such a good bug report, @awstlaur! It seems that I missed adding the AMSmath extension. The script is now updated. It should work if you download and run the new version. Please report how it works.

[2017-03-14 18:02] awstlaur commented on #5
Works well! Thanks for the quick response.

[2017-03-14 18:02] #5 closed

[2017-04-06 20:15] fsavje opened #8 "Fix loading when switching teams"

[2017-04-14 13:11] NKudryavka opened #9 "The script for windows is not supporting slack version other than 2.5.1."
The script is hard coded version of slack, so when I use other version (such as 2.5.2), searching slack is always fails.

[2017-04-14 19:38] fsavje commented on #9
Thank you @NKudryavka for the report! I'll look in to it asap.

[2017-04-14 20:08] fsavje commented on #9
@NKudryavka The script has been updated and should now work with 2.5.2 on Windows. Please confirm.

[2017-04-14 20:09] fsavje opened #10 "Make python script for Mac, Linux and Windows"
But keep legacy versions of the shell and batch scripts.

[2017-04-15 03:21] NKudryavka commented on #9
Thank you for quick response.
@fsavje 's script worked on Slack 2.5.2 well, but it is still version hard-coded.
So, I made a pull request for fix it.

[2017-04-16 00:36] fsavje commented on #9
@NKudryavka Thank you! That's much better than to hard code it.

[2017-04-16 00:36] #9 closed

[2017-05-03 12:40] ghennequin opened #12 "duplication and loss of dollar signs when editing"
Thanks for this very useful piece of code! I (and a friend) have an issue with editing messages that have LaTeX in them; when editing a message, the LaTeX formula gets duplicated and dollar signs disappear (e.g. $\pi$ becomes \pi\pi). This also seems to happen upon first composition of a message, if we take too long to compose it (e.g. $\pi$ will become \pi\pi after 30sec or so).

[2017-05-03 18:59] fsavje commented on #12
Thank you @ghennequin for the bug report! I can replicate the issue and will start looking into it.

[2017-05-11 13:22] monsieurTut opened #13 "Script not working after Slack update"
Hello!
I use your script for my Slack app on Ubuntu 16. It worked fine until I updated my packages. I guess the Slack package must have been updated and it stopped rendering math. I rerun your script as mentioned in the doc and restarted slack, but then the slack window was completely blank.
I uninstalled and reinstalled the Slack app, which displayed correctly again. Then I ran your script again

[2017-05-22 09:24] ghennequin commented on #12
Thanks! Any update on that? :smiley:

[2017-05-22 15:38] fsavje commented on #12
@ghennequin Sorry for the slow progress. I've had a quick look, and a fix requires more than trivial work. I'm just about to change job and move, so I unfortunately have limited time to spare at the moment. I'm afraid it might be a while before I get around to this. Feel free to push a fix if you find one.

[2017-06-01 23:18] gauss256 commented on #12
I love this code but am also experiencing the dollar sign problem.

I'm prepared to look into it but does anyone have any idea why it is happening? Where to start looking?

[2017-06-02 02:52] fsavje commented on #12
@gauss256 It's would be lovely if you have time to look into this. I suspect the problem is that with the latest Slack update so that MathJax becomes confused and renders math not only in the chat log but also in the text input element. Two things need to go wrong for this to happen. (1) the code confuses the text box for a chat message. (2) the MathJax rendering event must be triggered even when

[2017-06-03 21:42] gauss256 commented on #12
I added the line

    ignoreClass: "ql-editor",

to the `tex2jax` arguments and it seems to work now. I've submitted a pull request.

[2017-06-05 00:54] gauss256 commented on #8
It seems to load only for the team that is current when Slack is started. The good news though is that if you have loaded once you can switch to another team, switch back, and it is still loaded.

So a workaround for multiple teams is to switch to the team where it is not yet loaded, then quit and restart Slack. Do this for each team and it works from then on, for all teams.

[2017-06-06 15:37] #10 closed

[2017-06-06 15:37] #1 closed

[2017-06-07 05:58] #8 closed

[2017-06-07 05:59] fsavje commented on #8
@gauss256 Team switching should now work. Please let me know if it doesn't.

[2017-06-07 06:07] fsavje commented on #13
Thank you @monsieurTut for the bug report, and sorry for being slow to get to this. With the help of @gauss256, this problem is solved now. See #12

[2017-06-07 06:07] #13 closed

[2017-06-07 06:07] fsavje commented on #12
New version solves this. Thanks @gauss256 for the fix!

[2017-06-07 06:07] #12 closed

[2017-06-07 08:54] ghennequin commented on #12
Thank you both!

[2017-06-08 16:00] gauss256 opened #17 "Wrong Windows directory picked for installation"
The installer sorts the candidate installation directories by name, but due to the way Slack updates itself, this can lead to the wrong directory being chosen.

For example, on my system I have

    2017-06-07  09:31 PM    <DIR>          app-2.6.3
    2017-06-02  07:19 PM    <DIR>          app-2.6.3-beta2622578f

The installer picks `app-2.6.3-beta2622578f` for SLACK_DIR but it should use `app-2.6

[2017-06-08 16:04] gauss256 commented on #8
Works now. Lots of nice changes in v0.2!

[2017-06-09 05:19] fsavje commented on #17
Fixed with #18

[2017-06-09 05:19] #17 closed

[2017-07-28 00:39] joelgiedt opened #19 "Took a bit of hunting"
Hi, I had to go in by hand and edit the .bat file so that it could find the ssb-interop.js javascript hiding deep in Slack.  Here is the setting I had to use:
SET "SLACK_DIR=C:\Users\jgied\AppData\Local\slack\app-2.6.3\resources\app.asar.unpacked\src\static"
This is a bit technical for some potential users I am afraid.

[2017-07-28 00:45] joelgiedt commented on #19
Maybe at least something in the Windows install howto to give users hints.

[2017-07-28 00:48] joelgiedt commented on #19
Ah...sorry, did not read all the way down.  It has been addressed in further instructions.  Sorry, sorry, sorry.

[2017-07-28 00:48] #19 closed

[2017-07-28 00:51] joelgiedt commented on #19
Anyways I found an alternative fix to the one in the instructions:  Just edit the .bat file!

[2017-08-17 15:51] gauss256 opened #20 "Cannot find Slack installation"
It stopped rendering math so I tried to reinstall. I get the error message "Cannot find Slack installation".

Windows 64-bit
Slack version: 2.7.1 64-bit Beta Channel

[2017-08-17 17:57] fsavje commented on #20
The script is not made to automatically find beta versions of slack, so you'll need to specify the installation yourself.

There will be a folder something like "AppData\Local\slack\2.7.1-beta\resources\app.asar.unpacked\src\static" in your user profile folder, call the script with that as a provided parameter. E.g.:

[code]

where you need to change %gauss256% and %2.7.1-beta% to the appropriate

[2017-08-17 18:25] gauss256 commented on #20
OK, I've figured it out. For some reason the installation .bat file stopped working. Fixing it required the use of delayed expansion.

I'll do a pull request.

[2017-08-17 18:27] gauss256 commented on #20
@fsavje Our comments crossed. Fortunately, finding the beta version was not a problem. (How did I get on the beta channel anyway??)

Not only is the installation working again in my fork, but the math is rendering properly too.

[2017-08-18 17:42] dgleich opened #22 "Add an optional set of macros to the installation?"
Our slack group has a widely used set of macros we use to typeset equations. I imagine we can just hack the current script to insert these in, but it'd be really cool if the script could take another option -- given as a file name -- that would inject those macros for us.

e.g.

sudo bash math_with_slack.sh --preamble=ourmacros.tex

We may end up doing this, so there could be a follow-up pull requ

[2017-08-19 05:15] fsavje commented on #20
This should be addressed with version 0.2.2. Please let me know if it isn't.

[2017-08-19 05:22] fsavje commented on #22
That's a good idea and it should definitely be possible. I don't know exactly what you have in mind, but you can take a look at [hwagyesa's fork](https://github.com/hwagyesa/math-with-slack/blob/f84bc155723d5568a2dd583de8bb34fcac66a965/math_with_slack.sh) for inspiration. (All macros are hardcoded there, however.)

Please let me know if you code this up. A pull request would be very welcomed.

[2017-08-21 03:33] gauss256 commented on #20
Works here.

[2017-08-21 05:12] #20 closed

[2017-09-22 15:47] ghennequin opened #23 "Just in case anyone would like to use this within Rambox"
Rambox (http://rambox.pro) lets you aggregate all your favorite messaging apps into one big app that unifies handling of notifications etc (similar to Franz, but open source). If you want to use `math-with-slack` in Rambox, simply add the following code in the "Custom code" box you will be presented within "Advanced" config when you add your slack service
(this is merely copy/pasted from math-with

[2017-09-22 15:48] ghennequin commented on #23
(maybe that would be a useful addition to `README.md` (will probably get lost if it remains a repo "issue", which it really isn't)

[2017-10-18 16:26] rwb196884 opened #24 "Run the windows bat but not working"
I see `math-with-slack.js` is on disc.

[2017-10-21 17:32] goatandsheep commented on #24
[MathJax has shut down](https://www.mathjax.org/cdn-shutting-down/)

[2017-10-24 19:55] RONNCC commented on #24
@goatandsheep  but they are using a newcdn now so that shouldn't be a problem

[2017-10-24 20:04] RONNCC commented on #24
Can confirm it still works for me

[2017-10-24 20:05] goatandsheep commented on #24
Sorry, I'm mistaken.

[2017-11-28 18:54] Spenhouet opened #25 "Not working with the Windows 10 Slack App"
I'm using the Windows 10 Slack App. It seems I can't install this math-with-slack.

The Slack App installation dir looks very different:

[code]

app dir:
[code]

[2017-12-04 12:26] crstnbr commented on #25
Are you talking about the Slack App that you get from Windows Store? Because the 64-bit installer from slack website works just fine for me with the following `index.js` file: (Slack version (2.9.0))

[code]

[2017-12-04 12:28] crstnbr commented on #24
Do it manually if the bat isn't working. See [here](https://github.com/fsavje/math-with-slack/issues/25#issuecomment-348948080) and #3.

[2017-12-04 12:36] Spenhouet commented on #25
@crstnbr Yes, I'm talking about the Windows Store App.

[2017-12-04 12:43] crstnbr commented on #25
Can you locate an `index.js` somewhere?

[2017-12-04 14:56] Spenhouet commented on #25
@crstnbr No, there is no index.js in the installation directory.

[2017-12-05 17:43] #24 closed

[2017-12-05 17:53] fsavje commented on #25
It looks like the folder structure is changed for the Windows 10 app.

@Spenhouet Could you please try to run the following and report if it works:
[code]

[2017-12-06 18:53] Spenhouet commented on #25
@fsavje The `\app` folder is located in another directory (see command bellow). The slack main folder contains multiple long character strings that look like IDs (therefore I removed them -> marked with `<removed>`).

The script found the index.js and said it was installed successfully but actually can't get write access and therefore doesn't install anything.

[code]

[2017-12-11 10:31] ggrrll opened #26 "Cannot restore from backup. Missing file"
Hi,

thanks for the nice app.

However, I recently couldn't run it anymore due to this error message:

Any idea? - Thanks

[2017-12-11 14:58] fsavje commented on #26
The script detects that you have installed math-with-slack, but it can't find the backup file it always creates when installing. Two ways to solve this:

1. Manually open "ssb-interop-lite.js" and remove the three lines at the end that reads:
[code]

2. Re-install the Slack app from scratch.

Hope that helps.

[2017-12-11 14:58] jeanluct commented on #26
Are you using slack-desktop v3.0.0, released just a few days ago?  It breaks the script because the -lite file is gone.

See my pull request.

(A quick fix is to comment-out the two lines with -lite.)

[2017-12-11 15:22] ggrrll commented on #26
@jeanluct  it worked, thanks

[2017-12-11 15:23] #26 closed

[2018-01-15 06:35] prudhomm opened #28 "Math not rendered typed, only when slack is restarted"
I injected `math-with-slack`. I restart slack. now I type some math and it is not rendered. I stop and restart slack and it is now rendered.

platform: macos high sierra
slack: latest version

issue at install:
[code]
`ssb-interop-lite.js` is present in the slack directory

[2018-01-15 06:36] prudhomm commented on #28
it seems that the install issue is directly linked to #27

[2018-01-15 06:41] prudhomm opened #29 "consider katex instead of mathjax"
katex https://khan.github.io/KaTeX/ provides a fast typesetting framework compared to mathjax. Maybe katex does not support (yet) all mathjax support, but it is getting very close.

functions are here https://khan.github.io/KaTeX/function-support.html

katex powers gitter (another chat system)

[2018-01-17 20:20] glwhart commented on #28
I had the same problem, but restarting again didn't help. If I run the install script again:
[code]

[2018-01-22 12:59] LaurentHayez commented on #28
I had the same problem and I was able to fix it as follows:

Modify the file `math_with_slack.sh` from [hwagyesa's fork](https://github.com/hwagyesa/math-with-slack/blob/master/math_with_slack.sh)
---
Change line `219` to :
`  mathjax_script.src = 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js';`
(this is not critical, it is just for the latest version of MathJax)

Change line `2

[2018-01-22 13:37] #22 closed

[2018-01-22 14:01] #25 closed

[2018-01-22 14:02] fsavje commented on #29
Thanks for the suggestion. Very interesting indeed. However, it seems that KaTeX isn't function compatible with MathJax yet, and I don't want to break existing functionality. I will definitely consider it once it matures.

[2018-01-22 14:02] #29 closed

[2018-01-22 14:18] Spenhouet commented on #25
@fsavje Why was this closed? This isn't fixed!

[2018-01-22 14:39] fsavje commented on #25
@Spenhouet Sorry, I forgot to push the changes. They'll be online in a few minute.

The issue here is that Windows Store installs the app in a weird location. To minimize the risk for errors, I decided not to write up a script that searches the hard drive for possible Slack installations. Instead, users who have installed the Windows Store version will thus have to specify Slack's location themsel

[2018-01-22 14:46] Spenhouet commented on #25
@fsavje Oh I see. Thank you 👍
Did you test it with the Windows Store App?
If no, I could test it when the changes are up.

[2018-01-22 15:04] fsavje commented on #28
Thank you everyone for the help with this. The issue was indeed that `ssb-interop-lite.js` was removed. I just pushed a new version that fixes this. Let me know if it doesn't.

@LaurentHayez Thank you for the other updates. They've been incorporated. (Your pull request was to hwagyesa's fork, so I couldn't pull it.)

[2018-01-22 15:04] #28 closed

[2018-01-22 15:07] fsavje commented on #25
@Spenhouet That would have been great. The new version is live. Let me know how it goes.

[2018-01-22 15:51] hwagyesa commented on #22
This would be a nice solution, but one obstacle we encountered when trying to implement something similar with our own set of macros was the inherent difference between MathJax commands and regular .tex commands. In our case, most of the macros we were using for compiling with a local .tex distribution had to be changed to work with MathJax / math-with-slack.

There is a list of supported commands

[2018-01-22 15:55] Spenhouet commented on #25
It doesn't work for me.

What I did:

1. Downloaded the newest release 0.2.3
1. Searched for my Slack installation path (this seems to be different for every installation)
1. Started the command line with admin access
1. run `math-with-slack.bat "C:\Program Files\WindowsApps\91750D7E.Slack_3.0.5.0_x64__8she8kybcnzg4\app\resources\app.asar.unpacked\src\static"`

Output:
[code]

It seems the script

[2018-01-22 16:02] fsavje commented on #25
@Spenhouet Hmm, I see. I think you're right, the WindowApp folder is not editable by the user even with admin access. I don't want to hack this too much as it could be flagged as malicious code. Unfortunately, this means that the Windows Store app won't be supported. The app downloaded directly from Slack should, however, still work. If you decide to try that out, please let me know if it works.

[2018-01-22 16:16] Spenhouet commented on #25
@fsavje I guess the original slack app works as it did before. This issue was only meant for the Windows Store App.

Sad to here that there seems to be no other way then to stop the support for the Windows Store App Slack version. Thanks for pointing this out in the math-with-slack README. 👍

[2018-01-22 16:30] fsavje commented on #25
Yeah, unfortunately there is no (easy) way to solve this it seems. I'm very grateful for your help! I hope it's OK that I add you as a contributor.

[2018-01-22 16:43] Spenhouet commented on #25
Sure 👍

[2018-01-23 16:48] dgleich commented on #22
I agree you'd need MathJax compatible macros. I also see that it could be difficult to add macros in the future, that's a good point that makes this trickier than I expected. I'm not an expert on some of the cross-site Javascript loading. But would it be possible to insert a load command to a web-page with macros instead?

[2018-01-23 17:04] fsavje commented on #22
@dgleich Do you mean that a group could have a public website with all the macros? That might work. You would need to change the [injector code](https://github.com/fsavje/math-with-slack/blob/master/math-with-slack.sh#L178) to load a website rather than a file. This will, however, not be implemented in `math-with-slack` due to the risk of exploits.

[2018-02-02 14:47] edebrouwer opened #30 "Not working anymore since last update"
Hello,

The latex rendering stopped working recently. I re-did the instructions several times but still doesn't. My whole team has similar problem on various platforms.

Regards !

Edward

[2018-02-02 15:51] fsavje commented on #30
Thanks for the report! I can't replicate the error -- it works as it should on all platforms I've tested. Could you provide more details?

Are you sure that you're using the latest version? I.e., 0.2.3

[2018-02-02 17:44] edebrouwer commented on #30
Hi,

Thank you for your quick answer. Indeed, I was running the previous version 0.2.2.. It works fine with the new one. My apologies for bothering !

Thanks for your help and your work !!

Edward

[2018-02-02 17:44] #30 closed

[2018-02-02 18:28] edebrouwer commented on #30
Hi,

Thank you for your quick answer. Indeed, I was running the previous version 0.2.2.. It works fine with the new one. My apologies for bothering !

Thanks for your help and your work !!

Edward

[2018-05-14 23:28] EpicWink opened #32 "Can't use with Snap (Ubuntu) installation of Slack"
I'm on Ubuntu 18.04, and I've installed Slack (Direct Download 3.1.1 64-bit) via [Snap](https://snapcraft.io/) (a multi-distribution package manager). I can't seem to be able to install the `math-with-slack` injection: it gives me errors:

[code]

It seems to be the same error with the Windows Store version of Slack, where the program files are write-protected, however I haven't tested this.

[2018-05-19 14:19] jeanluct opened #33 "Broken in v3.2.0-beta2 on Ubuntu 18.04"
Hi all,

I upgraded Ubuntu last week and my math rendering in the Slack client stopped working.  I haven't yet investigated this but I thought I'd check first if anybody else is having this problem.  Whether you do or not, please let me know if you *upgraded* to 18.04 or installed from scratch.

Jean-Luc

[2018-05-20 12:09] fsavje commented on #33
Hi Jean-Luc,

Thank you for the report. Have you tried re-running the script? Slack may have been updated at the same time as you upgraded to 18.04, in which case the script must be re-injected. Please let me know if this doesn't work.

[2018-05-20 13:56] jeanluct commented on #33
Hi Fredrik,

Yes, I did try re-running the script (I forgot to mention that). I just uninstalled and reinstalled slack-desktop again, and then:
[code]
So no problems there.

It could be that the upgrade messed up mathjax somehow?  I do see the packages libjs-mathjax and fonts-mathjax installed.  Do you know a good way to test if mathjax is functioning correctly?

Jean-Luc

[2018-05-28 05:57] fsavje commented on #33
Sorry for the slow reply. Just to confirm, everything is working as expected after the reinstallation? If that's the case, I suspect is was simply the injected files that got overwritten.

The local `libjs-mathjax` and `fonts-mathjax` packages should not matter here. Everything is run with the online library. In nearly all cases, the issue is not with MathJax itself, but rather that Slack isn't lo

[2018-05-28 12:31] jeanluct commented on #33
No, sorry I wasn't clear: the script runs without errors, but I still can't see formatted math.  I've rebooted a few times, and as noted above also tried to uninstall / reinstall the slack-desktop package.

This is happening on both my Ubuntu 18.04 machines.

[2018-05-28 13:54] LaurentHayez commented on #33
Hello Jean-Luc,

This might be a stupid question, but did you try to reload slack (Ctrl+R)? When I installed slack-desktop on my machine, I think I had the same issue until I did this (I don't think I uninstalled and re-installed slack-desktop, but rebooting was not sufficient to display maths).

[2018-05-29 18:26] jeanluct commented on #33
Good thinking Laurent, I just tried it -- but it didn't work.

I'd love to hear if anybody has math working on Ubuntu 18.04.

[2018-06-01 01:44] jeanluct commented on #33
Thanks Laurent, but please do break your system on my account!

[2018-06-01 10:07] zgbkdlm opened #35 "no write permission on snap Slack"
My slack in installed by snap.

The location is `/snap/slack/current/usr/lib/slack/resources/app.asar.unpacked/src/static/`

But the snap is read-only system, `sudo` has no permission to write in snap..

The error is:

[code]

[2018-06-01 22:40] LaurentHayez commented on #33
Hi Jean-Luc,

So I upgraded to Ubuntu 18.04, and bad news, maths are not rendered on my computer either!

However, I got the following log from the app, which might help.

``[06/02/18, 00:29:26:546] info: ╔══════════════════════════════════════════════════════════════════════════════════════════════╗
[06/02/18, 00:29:26:547] info: ║      Slack 3.2.0-beta25a7a50e, linux 4.15.0-22-generic on x64 at

[2018-06-01 22:46] jeanluct commented on #33
Hi Laurent -- well, this is good news from my viewpoint!  Glad I wasn't just doing something stupid.

Thanks for trying it out,

Jean-Luc

[2018-06-04 08:40] LaurentHayez commented on #33
Hi Jean-Luc,

Just to let you know I tried a few things this week-end, and my conclusion is that the bug might come from slack-desktop latest version.

I tried to install an older version of slack-desktop (I think 3.0.2 on top of my head), and after injecting math-with-slack, maths were rendered. I could provide the file if you wish.

Hope that helps.

Laurent

[2018-06-07 12:50] jeanluct commented on #33
Thanks, Laurent.  I updated the issue name to reflect the version number.

I tried to downgrade slack-client to 3.1.1, but the earlier version depends on libcurl3 and Ubuntu 18.04 uses libcurl4.  Somehow I don't think this is related to the problem, though.

[2018-06-13 15:25] Michielskilian opened #36 "Stopped working in Slack Version 3.2.0?"
Hi,

I used your script for quite some time now and it always worked fine. But now, since a week or so, it's just not rendering anymore.
I'm not sure if it's the new Slack version (I have v3.2.0 installed)?
I already tried everything like downloading the script again from the Github, re-running the script and checking with some basic math that should normally work.

Thanks in advance for any help!

[2018-06-13 17:50] LaurentHayez commented on #36
Hi Kilian,

Me and another user both have this issue with Slack v3.2.0 (and now 3.2.1) on Ubuntu 18.04. Do you also use Ubuntu 18.04 or do you use another OS?

[2018-06-13 19:21] KeAWang commented on #36
It doesn't work on Windows 10 with Slack v3.2.0 either

[2018-06-13 22:50] Michielskilian commented on #36
Hi Laurent,

I'm using MacOS High Sierra (latest version).

[2018-06-14 08:54] fsavje commented on #33
Hi Jean and Laurent! I finally found some time to look at this. Could you please test the this script: https://github.com/fsavje/math-with-slack/blob/d385db532d6698b16a79c6d06fe1bdcb52732888/math-with-slack.sh Please let me know if it works asap.

[2018-06-14 08:56] fsavje commented on #36
Hi @Michielskilian and thanks for the bug report. Please try this script: https://github.com/fsavje/math-with-slack/blob/d385db532d6698b16a79c6d06fe1bdcb52732888/math-with-slack.sh Please let me know how it works.

(Working on Windows version at the moment, @KeAWang )

[2018-06-14 08:58] fsavje commented on #35
Hi @zgbkdlm and thanks for the report. Snap is not supported by `math-with-slack`. You should however be able to install it if you manage to get write permission in the Snap dir. See Issue #32 for more details.

[2018-06-14 08:58] #35 closed

[2018-06-14 09:57] fsavje commented on #36
@KeAWang Could you please try whether the [updated script](https://github.com/fsavje/math-with-slack/releases/download/v0.2.4/math-with-slack.bat) works, and report back to here?

[2018-06-14 12:01] Michielskilian commented on #36
Hi @fsavje, the script you attached works!

Thank you for the quick fix!

[2018-06-14 14:59] jeanluct commented on #33
Success!  Math is back.  Thanks so much, Fredrik.

[2018-06-14 15:21] fsavje commented on #33
I'm glad it worked. Thanks for reporting and looking into this.

[2018-06-14 15:21] #33 closed

[2018-06-14 17:34] Servinjesus1 commented on #36
Unfortunately the newest version is not working for me in Win10, v3.2.0
![image](https://user-images.githubusercontent.com/8541095/41428106-4ce0c7cc-6fc6-11e8-9eb2-8bef3d95dc4f.png)
A few of the paths aren't working even though the .js files are in the directory. The previous release, v0.2.3 runs without a hitch but none of the math is rendering either way...

[2018-06-14 21:33] KeAWang commented on #36
@fsavje It still doesn't seem to work on Windows 10. The new script gives the following errors
[code]

[2018-06-15 08:41] fsavje commented on #36
@Servinjesus1 and @KeAWang Thanks for trying it out. I don't have access to a Windows machine atm, so I can't debug this properly. Could you try this script: https://raw.githubusercontent.com/fsavje/math-with-slack/7d7bc39d2723e8c299bff47d4d80d465d044a1af/math-with-slack.bat Thanks!

[2018-06-16 19:35] KeAWang commented on #36
Works great now, thanks!

[2018-06-16 23:09] fsavje commented on #36
Thanks for checking!

[2018-06-16 23:09] #36 closed

[2018-06-25 08:12] robertomon opened #37 "Installer fails to patch ssb-interop.js on OS X Sierra"
I resorted to manually editing `ssb-interop.js` and adding the lines

    var mwsp = path.join(__dirname, 'math-with-slack.js').replace('app.asar', 'app.asar.unpacked');
    require('fs').readFile(mwsp, 'utf8', (e, r) => { if (e) { throw e; } else { eval(r); } });

before the last `start()` function call, this seems to do the trick.

The installer script doesn't print any error. I had some doubts

[2018-06-25 09:17] robertomon commented on #37
Thanks, not sure why my App Store wasn't marking Slack as needing an update!

[2018-07-19 09:12] 3lnc opened #38 "Broken message edit"
STR:
1. Install `math-with-slack`
2. Write message
3. Click ↑ to edit last message
4. Whitespace can't be used while editing

Editing through UI "edit message" works, tho.

Env:
Direct Download 3.2.1 64-bit
Ubuntu 18.04

[2018-07-19 20:08] fsavje commented on #38
Thank you for the report. Are you sure this isn't a bug with Slack? The bug pops up also for messages without math in them. Does the bug replicate also without math-with-slack?

[2018-07-20 09:27] 3lnc commented on #38
At least on my env — sure, I've checked it before reporting this ;)
Removing `math-with-slack` + restarting slack instantly solves problem.

[2018-07-20 11:43] fsavje commented on #38
Thanks -- just checking. This will not be a priority, but I'll look into it when I get a chance.

[2018-08-07 16:57] matzhaugenOI commented on #38
Yes, I notice the same thing. The edit can do everything except add whitespace.

[2018-08-17 14:16] kmace commented on #38
I have the same issue

[2018-08-18 04:36] OndrejMarsalek opened #39 "Does not work with Slack from Microsoft Store"
I had Slack installed through Microsoft store and the script was not able to find it. I tried looking for the file `ssb-interop.js` to find the directory but got nothing. I don't know where and how the Win 10 app gets installed.

After uninstalling Slack and reinstalling it "by hand", everything works as expected.

[2018-08-18 05:09] fsavje commented on #39
Thank you for the bug report. However, this has been addressed before. Microsoft Store does not give write permission to their apps even for administrators. `math-with-slack` will not try to override such restrictions.

See the discussion in the readme for more information:

[2018-08-18 05:09] #39 closed

[2018-08-18 05:27] OndrejMarsalek commented on #39
Thank you for pointing that out, I missed it in the readme, sorry about that.

[2018-08-18 15:27] fsavje commented on #39
No worries at all. Better safe than sorry when it comes to bug :)

[2018-09-03 01:24] lobachevzky opened #40 "Not working"
Perhaps I'm missing something basic here:
[code]
I close and open the slack desktop client and
![image](https://user-images.githubusercontent.com/10344742/44963169-6a18d400-aef6-11e8-84bf-43ca0516bf29.png)

Why is the latex not rendering?

[2018-09-03 03:27] fsavje commented on #40
Thank you for the report, @lobachevzky. You seem to have installed the script correctly. A few thing I would check if I were you:

1. Did you install math-with-slack at the place where you're running it from? Slack may, occasionally, be install in several places, and math-with-slack installs itself in the first place it finds. In your case, make sure that you're running Slack installed at /Applica

[2018-09-03 12:08] lobachevzky commented on #40
Mysteriously the problem seems to have gone away :/ I actually only have v3.0.5 but math is now rendering properly. I am pretty sure I was closing the application fully. I'm also pretty sure I have Slack installed in one place:

[code]
 🤷‍♂️

[2018-09-03 12:08] #40 closed

[2018-09-16 22:03] amelialouise opened #41 "Allow windows installer to run when slack installation has a space in windows user directory"
I ran the windows batch file as

`math-with-slack.bat "C:\Users\User Name\AppData\Local\slack\app-3.3.1\resources\app.asar.unpacked\src\static\"`

 I got the following message in the command prompt:

`Cannot find Slack file: C:\Users\User Name\AppData\Local\slack\app-3.3.1\resources\app.asar.unpacked\src\static\ssb-interop.js`
`Press any key to continue  . . . `

There was a `ssb-interop.js.mwsbak

[2018-09-17 00:47] fsavje commented on #41
Thank you @amelialouise for the report. I'm glad you got the script to work in the end. I don't, however, quite understand what you're reporting. Could you perhaps explain?

From your description it seems you had an outdated or corrupt installation of Slack, and the reinstallation fixed that.

[2018-09-17 06:10] amelialouise commented on #41
Hello @fsavje, sure I can further explain. No, Slack was neither outdated nor corrupt. I uninstalled and reinstalled Slack twice with the same message from math-with-slack each time saying "system cannot find the file..." The reason I uninstalled Slack a final time at the end was so that I could reinstall it directly to C:\.

More detail:
Based on the error messages from math-with-slack.bat, I gue

[2018-09-17 17:45] fsavje commented on #41
Thank you @amelialouise! I understand the report now; sorry for the confusion.

I don't have access to a windows machine at the moment, but the new development version of the batch script should work with spaces in the username. If you get a chance to test it, please let me know.

[2018-11-10 17:00] vwwv opened #42 "asciimath"
Really awesome repo, it worked out of the box :)

Btw, would it be possible to include asciimath?

[2018-11-10 17:03] #41 closed

[2018-11-10 17:20] fsavje commented on #42
I'm glad you found it useful! Support for asciimath is possible, but it is not without its issues. The main problem is that support for asciimath and TeX-type math at the same time might become too clunky. This could be solved with an installation option, selecting between asciimath and TeX match, but then the two installations becomes incompatible. I've put it on the long-term todo list.

In the

[2018-11-29 03:32] isnbh0 commented on #38
I have the same issue as well :disappointed:

[2018-12-08 21:07] rfrowe commented on #38
Please prioritize this more... Every time I want to edit more than a single word in a message I have to write it in an external editor and paste it in

[2018-12-08 21:39] fsavje commented on #38
@rfrowe Thank you for letting me know that this is a requested feature. I, however, provide this script free of charge as a courtesy to the community. This is in no way a service I provide to you. If you urgently need this feature, I suggest you spend the weekend implementing it yourself, and then make a pull request.

[2019-01-23 13:51] sandsify opened #43 "Getting hold of the latex source"
If a collaborator writes some math I would like to be able to send back something similar but with some edits.  I see the beautifully rendered math but I can't see a way to recover the latex source for editing.

[2019-01-23 13:54] sandsify commented on #43
Ah. RIght click "Math Settings"  -> Math Renderer -> Plain source

I guess I'd should modify the issue: it would be nice if it could be toggled more easily.

[2019-01-23 13:54] #43 closed

[2019-01-30 17:15] benruijl opened #44 "Check for the existence of ed"
I didn't have ed installed on my machine, so the script failed but it reported a success.

[2019-01-31 16:45] fsavje commented on #44
Thanks for the report. `ed` should be on every operating system compliant with either POSIX or Open Group standards, so this will not be addressed.

[2019-01-31 16:45] #44 closed

[2019-01-31 16:49] benruijl commented on #44
You should add a check. It isn't installed on Arch Linux by default. There is no reason not to add a check.

[2019-02-22 02:40] DaveLanday commented on #41
This worked for me too! Thank you for your detailed solution.

[2019-04-01 19:01] benninkrs opened #45 "Doesn't seem to work any more"
I installed it a year ago and it worked fine.  Now, equations don't render anymore.  I see this issue has occurred [before](https://github.com/fsavje/math-with-slack/issues/30) and supposedly fixed, but I am having the same problem.

Windows 10
Slack 3.3.8
math-with-slack 0.2.5

[2019-04-01 20:42] fsavje commented on #45
Thank you for your report.

math-with-slack 0.2.5 works as it should with Slack 3.3.8 for me.

Have you reinstalled math-with-slack after the Slack update?

[2019-04-02 02:20] benninkrs commented on #45
Yes

[2019-04-02 02:26] fsavje commented on #45
Ok. Since I can't reproduce the bug, still won't be fix. Please reopen the ticket with a proper bug report and I'll take a look: https://marker.io/blog/write-bug-report/

[2019-04-02 02:26] #45 closed

[2019-04-02 15:07] benninkrs commented on #45
1. Close Slack
2. Run math-with-slack script
![terminal](https://user-images.githubusercontent.com/22162695/55413084-a10ba280-5536-11e9-80f0-0319728f097d.png)

[math-with-slack.bat.txt](https://github.com/fsavje/math-with-slack/files/3034580/math-with-slack.bat.txt)

3. Open Slack.
![slack_version](https://user-images.githubusercontent.com/22162695/55413158-c7c9d900-5536-11e9-8fbe-0850859299c9.PNG

[2019-04-03 03:10] fsavje commented on #45
Thank you! I still cannot reproduce the bug. I've also asked other people, and they aren't having any problems. And no other users have reported any problems lately. It all points to that you have a problem with your specific installation. I cannot help you with that unfortunately. My recommendation would be to completely uninstall Slack, and reinstall everything.

Hope you manage to get it to wor

[2019-04-03 08:17] romainhild opened #46 "Does not work on MacOS Mojave with Slack 3.3.8"
I have followed the install procedure and restarted the client but when writing $e=mc^2$ as a direct message to me, the math are not rendered.
Is there a debug mode in order to have more info ?

[2019-04-03 14:04] benninkrs commented on #45
I came in to work this morning and the markup I entered yesterday is now magically rendered as math.  I didn't do anything, but it seems to be working now.  Weird!

[2019-04-03 14:33] fsavje commented on #46
Thanks for the report. Your best bet is Slack's DevTools.

Start Slack with:
[code]

Then open the DevTools with `⌥⌘I`.

[2019-04-03 15:34] romainhild commented on #46
Thanks, I took a quick look, but I have to admit that my competences in javascript are quite limited.
I did a search for `math` and `mws` but couldn't find anything.
Any advice ?

[2019-04-04 11:05] BlackHC commented on #32
Hello,

here are instructions to make it work:

1. Install overlay (see https://github.com/kyrofa/overlay-snap):
    ```snap install overlay```

3. Edit `math-with-slack.sh` and add the following line to `# Linux // COMMON_SLACK_LOCATIONS`
[code]

2. Make slack/current rewritable:
    ```/snap/overlay/current/overlay /snap/slack/current```

4. Run:
[code]
5. (Restart Slack.)

Steps 3.-4. have to b

[2019-04-04 14:29] fsavje commented on #46
I'm using Slack 3.3.8 on MacOS Mojave, and it works excellently. It is most likely an issue with your specific installation of Slack. My advice is to reinstall Slack and the script from scratch.

[2019-04-04 14:29] #46 closed

[2019-04-04 14:51] romainhild commented on #46
indeed reinstalling Slack did it! thanks

[2019-04-07 18:41] fsavje opened #48 "Update to MathJax 2.7.5"

[2019-04-17 23:58] nmldesjardins opened #49 "Strange spacebar behavior in All Threads after installation"
I'm using the Slack desktop app (v. 3.3.8) on macOS Mojave (10.14.3). The math-with-slack script works great and as expected (thank you!), but seems to have caused some weird behavior in the app. After installing the script, I can no longer use the spacebar as intended in the All Threads/New Threads window. When typing in the reply box, hitting space will now jump to the next thread, instead of ju

[2019-04-18 00:10] fsavje commented on #49
Thanks for the bug report. I have the same behavior. I'll try to take a look, but it might be a while. In the meanwhile, it seems ⌥ <space> gives a space like normal. (I suspect ALT <space> does the same on Windows.)

[2019-04-18 00:14] nmldesjardins commented on #49
Thank you!

[2019-04-18 00:19] fsavje commented on #49
Possibly related to #38

[2019-05-21 12:11] Sasikanth3 commented on #23
Hi ism wondering can something like this be done with hangouts chat desktop app as well

[2019-06-13 03:25] beesor commented on #49
If it helps at all - I also experienced this same behavior on macOS Mojave and noticed that you can get spacing back if you use the combination (option + spacebar). Perhaps that helps with debugging.

[2019-06-28 18:53] adamshapiro0 opened #50 "Editing a message doesn't trigger a re-render on the other user's screen"
When you edit the math in a message, it rerenders correctly on your own screen. On the other user's screen, however, the rendered math stays the same even though the slack message gets marked as `(edited)`.

To reproduce:
1. Send some math (e.g., `$e = mc^2$`)
2. Edit the message and modify the math (e.g., `$e = mc^3$`)
3. The message will be tagged as `(edited)` and the new math should appear on

[2019-07-09 23:19] mevender commented on #49
We really like your package in our group but this bug made people uninstall the package and we are looking for other options, although there are not many great alternatives. I believe fixing this bug will help people immensely. If I knew where to start on fixing this, I would and send a pull request but I do not unfortunately. Anyway, I think your package is great. Hopefully, someone will be able

[2019-07-11 22:00] sammorley-short opened #51 "Slack 4.0.0 doesn't contain src/static/ssb-interop.js"
I just tried to install this for Slack 4.0.0 (downloaded via the Mac OSX App Store) and it failed to find the correct file.

When I searched the file directory, no `ssb-interop.js` file was found:

[code]

Any ideas which file to point it to instead?

[2019-07-19 01:45] hwagyesa commented on #51
A colleague provided a link to [this issue](https://github.com/LanikSJ/slack-dark-mode/issues/80) in another repo, where the same problem has been solved. It seems (at least on OSX) one needs to have `npm` installed, and then one can unpack the .asar file in Slack 4.0 using `npx`, inject math-with-slack, then repack it.

[2019-07-19 02:49] fsavje commented on #51
I will take a look at this as soon as possible, but that will unfortunately be a few weeks.

[2019-07-22 00:24] fsavje commented on #51
Took a look at this today. Turns out that Slack has added a Content Security Policy to avoid script injections. One can inject meta tags in the webapp by unpacking and repacking the asar file as suggested by @hwagyesa . However, it does not load the MathJax script from the CDN:

[code]

As I've understood it, it isn't possible to modify the CSP on the run, so it seems that using a CDN for script d

[2019-07-22 01:35] hwagyesa commented on #51
The unpack-inject-repack scheme is working for me in the latest version of App Store Slack provided I follow the suggestion in [this comment](https://github.com/LanikSJ/slack-dark-mode/issues/80#issuecomment-511931694) before injecting. There is some discussion of this issue [here](https://github.com/LanikSJ/slack-dark-mode/issues/72), but it seems it is unclear why changing this setting helps. Wh

[2019-07-22 12:45] fsavje commented on #51
@hwagyesa Could you clarify: do you manage to get math-with-slack running with this method or slack-dark-mode?

[2019-07-22 14:11] hwagyesa commented on #51
@fsavje Both math-with-slack and slack-dark-mode work for me (and at least one of my colleagues) with this method. The script I am using with math-with-slack can be found in my fork of the repository.

[2019-07-23 05:01] fsavje commented on #51
Thanks!

Seems this route will work on Mac OS at least. If anyone tests it out on Linux or Windows, please report the results here.

Working on a python script to avoid installing Node.js. In the meanwhile, manually unpacking and packing app.asar using node.js will work.

[2019-07-24 14:32] bangconghuynh commented on #51
@hwagyesa's route works on Linux too.

[2019-07-27 20:24] Dr-Irv commented on #51
I have Windows, but @hwagyesa didn't update the Windows version of the install script, so I can't test it.  Looking forward to your python script install

[2019-08-05 07:51] oshriPP opened #52 "Install on workspace"
Hi,
I installed the script on my Mac, but the Slack showed the formula as a plain text on my teammates.
Is there a way to install it in the workspace for all the users?

[2019-08-06 13:04] fsavje commented on #52
Hi @oshriPP and thank you for your question!

This is not possible. If it were possible, it would allow for remote code injections. That would be an enormous security risk. You have to ask your team mates to install the script themselves.

[2019-08-06 13:04] #52 closed

[2019-08-07 09:14] erikvannimwegen commented on #51
Dear fsavje,
would it be possible to write a description for non-experts on how to get math-with-slack working on Mac OSX? We use an enormous amount of latex in our slack discussions and since the last update of Slack our life has been a misery. I understand from your exchange with hwagyesa that there is a solution for Mac OS but the description is too technical for me to understand what I need to

[2019-08-07 14:04] fsavje commented on #51
Hi @erikvannimwegen. I don't know if I can give anymore detailed instructions than those by @hwagyesa. However, I hope to have a draft version of the updated script up during the weekend.

[2019-08-07 15:50] hwagyesa commented on #51
Dear @erikvannimwegen, you can perform the following steps to use my script, working for me and others on OSX:
1. Run in a terminal `brew install npm` (download Homebrew if you don't have it);
2. Clone my fork of @fsavje's math-with-slack repository;
3. Run the `math-with-slack.sh` script like usual.

The quality of my code is much worse than @fsavje's. If this seems problematic you may wait for h

[2019-08-07 21:15] fsavje commented on #51
A draft version of the python script is up now: https://github.com/fsavje/math-with-slack/tree/v3 It should work with both Python 2.7 and 3. It has, however, not been tested on Windows or Linux. Please let me know if it _doesn't_ work.

It seems that Slack 4.0.1 overwrites the local settings JSON file. Any ideas on circumvent this would be welcomed.

[2019-08-08 13:04] rcurr commented on #51
@fsavje  I've had a quick try with "math-with-slack.py" on Ubuntu 16.04 and haven't been able to get it to work.

I'm using the slack/slack-desktop packages (version 4.0.1) from the https://packagecloud.io/slacktechnologies/slack/debian/ repository (originally from https://slack.com/downloads/linux). I've ran the script and it changes app.asar. "grep fsavje app.asar" matches, though if I unpack th

[2019-08-08 18:04] Dr-Irv commented on #51
I submitted a pull request #53 to make the python script work with Windows.

[2019-08-20 21:37] claresinger commented on #51
Hi, I'm using Mac OSX. Running your .py script gives me this permission denied error. How can I make sure the script has write permissions?
[code]

[2019-08-23 02:43] terasakisatoshi commented on #51
I've got the following error even the latest releases.
An error message `✘ Cannot find Slack installation.` shows on my Mac terminal

[2019-08-23 02:47] terasakisatoshi commented on #51
Ah ... Sorry.

I should have tried the script below:
https://github.com/fsavje/math-with-slack/blob/v3/math-with-slack.py

just run

[code]

works for me. Thank you @fsavje

[2019-09-09 16:26] thisiscam commented on #51
My temporary fix was to hijack `/Applications/Slack.app/Contents/MacOS/Slack`.

Basically, create rename this Slack executable to `Slack_bk`, then create a shell script in place of that:

[code]

[code]

[2019-10-09 09:30] Alanocallaghan commented on #51
Trying this on Ubuntu 18.04.3 now, running just the python file I get:
[code]

if I supply the app file I get a missing local settings file:

[code]

[2019-10-09 09:36] Alanocallaghan commented on #51
Actually it ran successfully but didn't change anything.

[2019-10-11 13:15] PeganovAnton commented on #51
Same on Ubuntu 16.04

[2019-10-12 05:36] PeganovAnton commented on #51
Hello! I also have a problem with unpacking `app.asar`.
[code]

[2019-10-22 20:59] GiannakopoulosIlias opened #55 "Cannot find slack installation"
Hello,

When I am running the command:
`sudo bash math-with-slack.sh`

I receive an error "Cannot find slack installation"
I am using Ubuntu 18.04.

Thanks in advance

[2019-10-24 19:07] pturne7 commented on #51
Has anyone successfully used this script for Windows? When I run it in Python Shell, I receive a message saying `Not implemented,' and that's it.

I would appreciate input from anyone who has successfully installed math-with-slack on Windows following the recent protections against code injections.

[2019-10-24 19:20] Alanocallaghan commented on #51
The not implemented message means just that; nobody's implemented the functionality in the script on Windows.

[2019-10-24 19:34] Dr-Irv commented on #51
@pturne7 I submitted a pull request at https://github.com/fsavje/math-with-slack/pull/53 that makes it work on Windows.

I believe that if you download the file `math-with-slack.py` from here:  https://github.com/fsavje/math-with-slack/blob/d15ce28d8394f8a021b88d793a222b80e8566b28/math-with-slack.py

then you'll be able to run it on Windows.

[2019-12-08 03:27] level1807 commented on #51
Slack 4.2.0 seems to have finally killed the python script as well (I'm on Mac). The error is `KeyError: 'ssb-interop.bundle.js'`.

[2019-12-09 02:40] hwagyesa commented on #51
I poked around this issue today... it seems that Slack 4.2 has removed old code (including ssb-interop.bundle.js and other files...) that was used to run whatever CSP-free legacy interface was used when setting `bootSonic = "never"` in the `local_settings.json` file, so indeed as @level1807 stated this workaround is no longer viable.

It seems that the right place to inject code is now `main-prelo

[2019-12-19 05:16] MAEA2 commented on #51
I encontered the same error in Slack 4.2.0. I ran `math-math-with-slack.py`, then I got these error.

[code]

[2020-01-09 07:21] thisiscam commented on #51
FYI, I have fixed this for 4.2.0: https://github.com/thisiscam/math-with-slack/blob/v3/math-with-slack.py

I basically included a local version of MathJax 3 by putting the release of `https://github.com/mathjax/MathJax` (found on CDNs such as 'https://registry.npmjs.org/mathjax/-/mathjax-3.0.0.tgz') under Resources/dist/node_modules/.

The MathJax config is done here: https://github.com/thisiscam/

[2020-01-09 08:14] MAEA2 commented on #51
It works well. Thanks you for your information 😃 .

[2020-01-09 21:29] hwagyesa commented on #51
Thanks @thisiscam! I merged your changes with the macro tweaks I have in [my fork](https://github.com/hwagyesa/math-with-slack/blob/master/mws-4p2.py) if anyone needs an example of how to do macros + package imports in MathJax 3.0.0.

[2020-01-15 02:19] asefahmed56 commented on #51
@thisiscam's script works in Linux by replacing `sys.platform == 'linux'` with `sys.platform.startswith('linux')` as suggested above.

[2020-01-15 09:17] thisiscam commented on #51
@asefahmed56 fixed as you suggested.
Thanks!

[2020-01-15 14:55] jeanluct commented on #51
Oh, it works for me on Linux!  Thank you so much, this is really a life
saver for me.

Jean-Luc

On Wed, Jan 15, 2020 at 3:17 AM Cambridge Yang <notifications@github.com>
wrote:

[2020-01-19 03:56] jasondlee88 commented on #51
Is there a windows version working?

[2020-01-19 20:27] mblackbourne commented on #51
I was able to get it to run on windows and persist through startup by adding the python script to the root of the app.asar file location. Modifying the script to include the "app_path" for where my slack app is stored.

Lastly, close slack, and any background threads. Run the python file from Administrator Shell. This should return "Installed, Restart Slack "

`if args.app_file is not None:
    ap

[2020-02-03 20:12] j2bbayle commented on #55
Same problem here.
I am using macOS 10.14 along with Slack 4.2.0.

[2020-03-23 07:25] reinhold-willcox commented on #51
Tried @thisiscam 's python script. Threw an error on line 229 because it didn't like the inspected_file_name 'main-preload-entry-point.bundle.js'. Looking at the json_header dictionary, the file doesn't show up. I changed the inspected_file_name to 'ssb-interop.bundle.js', since that was the file we were previously messing with (pre Slack 4) and it exists in the json_header dictionary. The python

[2020-03-23 15:07] julou commented on #51
Hi, I can't get any script to work for Slack 4.3.3.

So far I tried the @fsavje's v3: https://github.com/fsavje/math-with-slack/blob/v3/math-with-slack.py
@thisiscam's fork https://github.com/thisiscam/math-with-slack/blob/v3/math-with-slack.py
and @hwagyesa's fork https://github.com/hwagyesa/math-with-slack/blob/master/mws-4p2.py

The last two don't send any error (message: `Install successful. P

[2020-03-23 15:55] thisiscam commented on #51
Which Slack version is this?

[2020-03-23 15:57] thisiscam commented on #51
I probably want to know this from someone else, but my Slack 4.3.3 is still rendering math right now.

[2020-03-24 02:24] reinhold-willcox commented on #51
It was 4.0.2. But I had other issues with this version, so I scrapped it and now I'm on 4.3.2, only installed from snap. I know math-with-slack doesn't work with the snap install, but I needed a working version of slack for work. I'll troubleshoot this again over the weekend, but it would be great to get a math-with-slack that works with snap (dunno how feasible that is though).

[2020-03-24 07:33] julou commented on #51
I have to take it back, I could see _some_ rendering, which means the install is working etc.
However, it was only for the 2 most recent equations in a one-to-one chat. No other equation in any channel I checked was rendered, and no it's gone :-/

Is there any way I can check a log / error messages?

[2020-03-24 08:11] thisiscam commented on #51
@reinhold-willcox @julou

So on Mac at least, one can do :
[code]
to start up Slack, and be able to right-click -> inspect element and show the console messages.

I assume on Linux, there should be something similar.

[2020-03-24 08:41] julou commented on #51
thanks for the hint. I could find the following mathjax related "warning":

[code]

[2020-03-24 11:24] thisiscam commented on #51
I wish I can help more on this, but I cannot reproduce this on my Mac. Maybe some more ideas:
- what math are you trying to render? does something simple as $x$ work at all?
-  Change this https://github.com/thisiscam/math-with-slack/blob/v3/math-with-slack.py#L152 to
[code]
and rerun the script to and see what gets printed by the console.

[2020-03-24 11:35] julou commented on #51
my channels have a mixture of inline $x$ and block $$x$$ formulas…
I followed your instructions. Here is the new error message (the same with the pointer changed to bundle.js:76:57 at the very end):

[code]

[2020-03-24 12:00] thisiscam commented on #51
And it didn't print out any elements?

[2020-03-24 12:26] julou commented on #51
sorry, I was printing errors and warning only…
now I attach the log since there are different elements returned before the error depending on where it happens…
[app.slack.com-1585052704374.log](https://github.com/fsavje/math-with-slack/files/4375199/app.slack.com-1585052704374.log)

[2020-03-24 22:15] thisiscam commented on #51
Slack just rolled out 4.4.1 on Mac. I have pushed a fix that should support both the 4.3.3 and 4.4.1 [here](https://github.com/thisiscam/math-with-slack/blob/v3/math-with-slack.py) (same as before)

[2020-03-24 22:18] thisiscam commented on #51
I'm not really sure what's happening. Given that Slack just updated on Mac, is it possible you are seeing this because of a new slack version (e.g. 4.3.3 is new on Ubuntu 18)?

[2020-03-25 08:19] julou commented on #51
Alright, updated slack, run your new py script.
Same problem still…

So I played a bit to understand when the rendering started failing. I can trigger the issue by entering a line which contains only a latex formula. then all rendering in the current slack session is gone. If Slack is restarted, rendering works fine until the block containing this line is met, then no more rendering until new slac

[2020-03-25 08:47] erikvannimwegen commented on #51
I can confirm this behavior. The key is that one has to enter a line that has ONLY a latex formula, i.e. no other text before or after it. This then breaks all rendering. A restart can fix it as long as one avoids trying to render such a 'latex only' line.

[2020-03-25 09:14] julou commented on #51
btw I had to install the python `packaging` module to run this one. Not sure whether this what intended or overlooked…

[2020-03-25 19:00] thisiscam commented on #51
Sorry, I thought that was built-in. Should be fixed by now

[2020-03-25 19:02] thisiscam commented on #51
@erikvannimwegen @julou So this is on Ubuntu 18, and an example single line formula as in `$x$`? Is this in the person-to-person chat view, or the thread view (the right panel)?

[2020-03-25 19:29] thisiscam commented on #51
I think I found something. The [log](https://github.com/fsavje/math-with-slack/files/4375199/app.slack.com-1585052704374.log) @julou sent contains typesetting of elements with class `div.p-rich_text_block.p-rich_text_block--inline` --- something I've not seen on my OSX Slack.  The `p-rich_text_block--inline` is particularly suspicious. Can you try to locate a div with formula that has this class a

[2020-03-25 22:53] thisiscam commented on #51
Update: Ubuntu 16 + Slack 4.4.0 via Debian renders fine.

[2020-03-25 23:42] thisiscam commented on #51
@erikvannimwegen @julou Can you try the newest version? I pushed a fix that might solver your problem

[2020-03-26 08:00] julou commented on #51
hi @thisiscam
thanks for caring about the issue!

I tried your newest version (using Slack 4.4.1 on MacOS 10.14.6). The problem is not solved yet. but another example from @erikvannimwegen helped me specified better what triggers the bug:
rendering stops after trying to render a formula on a latex-only line which is not the first line of the post.

This renders fine
[code]

This stops all renderin

[2020-03-26 08:04] julou commented on #51
I tried after uninstalling `packaging` and it indeed works :)

[2020-03-26 19:21] thisiscam commented on #51
@julou Looking at https://github.com/mathjax/MathJax/issues/2202, fixed the problem by simply updating MathJax to 3.0.1

[2020-03-26 19:28] julou commented on #51
yeah… it works! 🍾🍾🍾
Thank you for your patience… I'd never had thought that  it could be a bug in mathjax _itself_!

[2020-04-06 14:27] kdzhang commented on #55
Same problem here, I am using macOS 10.15.3 with Slack 4.4.1

[2020-04-06 14:35] kdzhang commented on #55
And I tried to use this to manually supply the Slack installation path:

[code]

The problem is, there is no `src/static` folder there:

[code]

There is a `dist/static` folder but when I tried to use that path, it gives me another error:

[code]

[2020-05-27 18:59] level1807 commented on #51
Not able to get it to work with Slack 4.6.0 (macOS Catalina)

[2020-05-27 23:00] mdmilgrom commented on #51
I had the same experience. I was concerned when the release notes said the app sandbox was now enabled for all web content that Jax would be broken, and I should have trusted that instinct. I had it up and running for less than a day.

[2020-05-28 00:26] thisiscam commented on #51
Yes I can confirm that Slack 4.6.0 breaks this. One way around is maybe to somehow inject mathjax as a webpack transpiled module into the preload script.. it will be horribly large though and I'm not sure about its feasibility.

Any suggestions are welcomed!

[2020-05-28 03:59] thisiscam commented on #51
Ok I pushed a commit https://github.com/thisiscam/math-with-slack/commit/80112ad6703ab55b4e38e0ac792981299f2e839e, that includes an inline source of MathJax into preload.js.
Things seems to be working, though not sure how much of performance impact it has on rendering/opening a new page.

[2020-05-28 17:14] mdmilgrom commented on #51
When I run the latest commit of math-with-slack.py with sudo python math-with-slack.py on MacOS 10.15.4, I get:
[code]

[2020-06-04 09:59] davisissac opened #56 "ori_injected_file_size"
I get this error  while running ` sudo python math-with-slack.py `
[code]

[2020-06-08 18:18] thisiscam commented on #56
Not sure if this is an issue that should be sent to https://github.com/thisiscam/math-with-slack. But I have just fixed it there, so you may give it a try?

[2020-07-03 15:21] YingzhouLi commented on #51
@thisiscam, does your version works for Slack 4.7?

[2020-07-03 21:00] sgyetvay commented on #55
did anyone ever figure this out?

[2020-07-03 22:49] thisiscam commented on #51
@YingzhouLi it is working for me. FYI I'm not the owner of this repo (so I can't close an issue or merge PR). If there are specific questions related to my fork, all are welcomed to leave issues there!

[2020-07-04 23:30] YingzhouLi commented on #51
@thisiscam Thanks. Your forked master branch works on my Ubuntu 20.04 with Slack 4.7.0.

[2020-08-11 14:44] joaompereira commented on #51
This code is working for me as well, I have Windows and Slack 4.7.0. The search path for app.asar is implemented correctly. The only thing missing is having a version of this code not in Python, for those people that don't have Python installed.

Thank you very much!

[2020-08-11 18:25] Dr-Irv commented on #51
@YingzhouLi I tried your fork on Windows 10, with Slack 4.8 and it worked.  You might want to make the instructions more clear that you want to say "yes" to the most recent slack installation, because if you say "yes" to the oldest, it never prompts you for the newest.  It turned out I had folders for both slack 4.7 and 4.8, and couldn't figure out why it wasn't working until I studied your script

[2020-08-12 03:32] santimda commented on #55
Same problem in Ubuntu 20.04. I have installed Slack using the Ubuntu software and it is located in /snap/slack/

[2020-08-12 04:21] thisiscam commented on #51
@YingzhouLi If you can submit a PR to my repo, I will merge in your changes. Thanks!

[2020-08-12 08:09] YingzhouLi commented on #51
@Dr-Irv Thank you for the suggestion. I have revised the interface to select among multiple versions of Slack. (It seems that new Slack installation will also remove old versions from Windows.)
@thisiscam I have submitted a pull request to your repo.

[2020-09-10 16:17] Yuren-Zhong commented on #55
same problem

[2020-09-10 16:38] Yuren-Zhong commented on #51
Is there any version that works on Mac with Slack 4.8.0 ??

[2020-09-10 17:00] Dr-Irv commented on #51
@Yuren-Zhong Try this fork https://github.com/YingzhouLi/math-with-slack .  It worked for my colleague who has slack 4.8 on Mac

[2020-09-10 17:05] julou commented on #51
https://github.com/thisiscam/math-with-slack works for me on Mac with Slack 4.8.0

[2020-09-10 17:08] mdmilgrom commented on #51
​I'm successfully using "thisiscam"'s fork with 4.8.

Marc Milgrom

mdmilgrom@gmail.com (mailto:mdmilgrom@gmail.com)

On Sep 10 2020, at 1:00 pm, Irv Lustig  <notifications@github.com>  wrote:

[2020-10-14 04:13] soulslicer commented on #55
Lol sad this doesnt work anymore